  <div class="content">
    <div class="header">
      <div class="row header-row">
        <div class='col-xs-12 col-sm-12 col-md-12 logo'>
          <%= image_tag 'is-it-open.png', :class => 'img-responsive' %>
        </div>
      </div>
      <br><br>

      <div class="row search-form">
        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=<%= ENV['GOOGLE_API_KEY_JS'] %>">
        </script>
        <script type="text/javascript">
        function initialize() {
          var options = {
            types: ['geocode']
          }
          var input = document.getElementById('addressAutocomplete')
          new google.maps.places.Autocomplete(input, options)
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <%= form_tag({controller: 'searches', action: 'create'}, method: 'post', remote: true, class: "form-horizontal form-search-by-type") do %>
        <div class="col-sm-5 col-md-5 col-lg-5 form-group form-address-div">
          <input class="form-control" id="addressAutocomplete" type="text" name="location" placeholder="Enter your address">
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 form-group form-type-div">
          <input class="form-control" id="search-type" type="text" name="type" placeholder="What are you looking for?">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1 form-group form-submit-div">
          <input class="btn btn-primary btn-form-submit" id="submit" type="submit" name="submit" value="submit">
        </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'venues/venue_display', locals: {venues: @venues}%>

    <div class="row show-more">
      <button type="button" class="btn btn-primary" name="show">Show me more!</button>
    </div>

  </div>
