<div class="jumbotron">
  <div class="row">
    <div class='col-md-12'>
      <h2 class="heading">Is It Open?</h2>
    </div>
  </div>

  <div class="row">
    <%= form_tag({controller: 'search', action: 'create'}, method: 'post', remote: true, class: "form-horizontal form-search-by-type") do %>
      <div class="col-md-5 form-group">
        <input class="form-control" id="search-type" type="text" name="type" placeholder="What are you looking for?">
      </div>
      <div class="col-md-5 form-group">
        <input class="form-control" id="search-keyword" type="text" name="keyword" placeholder="Keyword (Optional)">
      </div>
      <div class="col-md-2 form-group">
        <input class="btn btn-primary" id="submit" type="submit" name="submit" value="submit">
      </div>
    <% end %>
  </div>
</div>

<%= render 'venue_display' %>
