<div class="venue-item">
  <div class="col-xs-10 col-sm-5 col-md-4">
    <div class="venue-thumbnail-frame <% if !venue.open_now %>closed<% end %>" place-id="<%= venue.google_place_id %>">
      <h5 class="venue-title"><%= venue.name %></h5>

      <span class="helper">
        <img class="venue-img"
          src="<%= get_venue_photo_reference(venue) %>"
          alt="<%= venue.name %>" />

          <div class="venue-info">

          </div>
      </span>
    </div>

  </div>
</div>
