/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*= require_self
*= require_tree
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.venue-info {
  display: none;
  z-index:999;
  position:relative;
}

.venue-thumbnail-frame{
  height: 90px;
  width: 160px;
  background: black;
  overflow: hidden;
  border: 2px solid black;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.venue-img{
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 100px;
  max-width: 160px;
}

.jumbotron{
  background: #1e1e1e;
  text-align: center;
}

body {
  background: #767677;
}

.venue-item{
  background: #d4dbd5;
}
