/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*= require_self
*= require_tree
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

//@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.venue-info {
  display: none;
  z-index:999;
  position:relative;
}

.venue-thumbnail-frame{
  height: 150px;
  width: 190px;
  background: black;
  overflow: hidden;
  border: 5px solid white;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
  color: white;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.venue-img{
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 100px;
  max-width: 160px;
}

.show-more{
  text-align: center;
}

.josephin-slab{
//  font-family: 'Josefin Slab', serif;
  font-family: 'Poiret One', cursive;
  color: #ffffcc;
  font-size: 120px;
}

.header-border-bottom{
  border-bottom: 10px white solid;
}

body{
//  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
}

.jumbotron{
  background: #1e1e1e;
  text-align: center;
}

body {
  background: #767677;
}

.venue-item{
  background: #d4dbd5;
}
