<div class="row">
  <div class="col-md-10">
    <h3>Welcome, user!</h3>
  </div>
</div>

<div class="row">

  <h5>Your dismissed venues:</h5>
    <ul>
      <li>Example 1</li>
      <li>Example 2</li>
      <li>Example 3</li>
    </ul>
</div>
